<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251304641663-ti4h232vb33f3uk7rhsa1nm5rvrmpbf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251304641663-ti4h232vb33f3uk7rhsa1nm5rvrmpbf2</string>
	<key>API_KEY</key>
	<string>AIzaSyDz-InRsIWoZ3WkSFSmnLNqkdBJeMitMjU</string>
	<key>GCM_SENDER_ID</key>
	<string>251304641663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idteam.poster</string>
	<key>PROJECT_ID</key>
	<string>poster-test-project</string>
	<key>STORAGE_BUCKET</key>
	<string>poster-test-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251304641663:ios:740d00db13ce960b282b4a</string>
	<key>DATABASE_URL</key>
	<string>https://poster-test-project-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>